/*
    ---------------------
    - Table of Contents -
    1.0 - Colors
    2.0 - Fonts
    ---------------------
*/

/* 1.0 - Colors */
$white: #fff;
$black: #000;
$red: #ff4141;
$red_hover: #FF6767;
$red_count: #FFB3B3;
$orange: #ff8e25;

/*  2.0 - Fonts */
$poppins: 'Poppins', sans-serif;
$poppins-regular: 400;
$poppins-semiBold: 600;
